body {
  min-height: 100vh;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(#C13584, #E1306C, #F56040);
  background-repeat: repeat-y;
  
}

.title3 {
  margin: auto;
  position: relative;
  padding-top: 0%;
  left: 0;
  width: 100%;
  display: flex;
  color: #EAE7FA;
  font-size: 350%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  text-shadow: -2px 2px 3px #ff2d95;
}

.ryan {
  position: absolute;
  top: 250px;
  left: 525px;
  width: 30%;
  height: auto;
}


.btn101 {
  color: #71797E;
  background-color: #EAE7FA;
  border-color: #EAE7FA;
  border-radius: 20px;
  padding: .8%;
  width: 10%;
  margin: 3%;
  font-size: 90%;
  font-family: monospace;
  font-weight: bold;
  
}