<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="about.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
   </head>

  <body>
  <button class = "btn101"> <a href="index.html" style="color: #71797E; text-decoration:none;" > return home</a> </button>

  <!--- creator boxes--->
    <h1 class = "title"> about the creators <3 </h1> 

      <h1 class = "group"> from the humble room dbh 6011, the creators of clout compare took the weekend to create a fun game for you to test your quick knowledge about pop culture and your family and friends. enjoy! ✨ </h1>

    <div class = "gallery">
        <!--- first --->
      <div class = "picture"> <img class="creator" src = "tay.jpg"> 
        <div class="overlay">
          <div class = "name">ryan yoon</div>
        </div>
      </div>
        <!--- second --->
      <div class = "picture"> <img class="creator" src = "tay.jpg"> 
        <div class="overlay">
          <div class = "name">shaun gold</div>
        </div>
      </div>  
        <!--- third --->
      <div class = "picture"> <img class="creator" src = "tay.jpg"> 
        <div class="overlay">
          <div class = "name">devesh krishan</div>
        </div>
      </div>  
        <!--- fourth --->
      <div class = "picture"> <img class="creator" src = "tay.jpg"> 
        <div class="overlay">
          <div class = "name">megan le</div>
        </div>
      </div>
        <!--- fifth --->
      <div class = "picture"> <img class="creator" src = "tay.jpg"> 
        <div class="overlay">
          <div class = "name">shuvam ghosh</div>
        </div>
      </div>
      <!---  border-radius: 200px;  CIRCLE CROP --->
    
        
     
    </div>
    <script src="script.js" defer></script>
  </body>
</html>