<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="end.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="end.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <button class = "btn101"> <a href="index.html" style="color: #71797E; text-decoration:none;" > return home</a> </button>
    
    <h1 class = "title3"> you lost! </h1>

    <div class = "picture2"> <img class="ryan" src = "tay.jpg"> 
      <div class="overlay">
        <div class = "name"></div>
      </div>
    </div> 

  </body>
</html>