<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/celeb.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="celeb.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <button class = "btn101"> <a href="index.html" style="color: #71797E; text-decoration:none;" > return home</a> </button>
    <h1 class = "title2"> who has more clout? </h1>
    <div>
      <img src="{{ pers_image_2 }}" class="dot" alt="" style="width:250px;height:250px;border-radius:200px;"
        >
      <img src="{{ pers_image_1 }}" class="dot2" alt="" style="width:250px;height:250px;border-radius:200px">
    <div>
    <!-- <button class = "btn2"> {{person1}} </button>
    <button class = "btn3"> {{person2}} </button> -->
    <div class = "btn2">
      <!-- <h1 >{{person1}}</h1> -->
      <form method="post">
          <input type="submit", id="submit" name = "player1" value="{{person1}}" >
      </form>
    </div>
   <div class = "btn3">
    <!-- <h1 >{{person2}}</h1> -->
        <form method="post">
            <input type ="submit", id="submit" name = "player2" value="{{person2}}" >
        </form>
   </div>

      
  </body>
</html>