<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body>
    <img src = "https://www.pngkit.com/png/full/512-5128560_instagram-white-transparent-logo.png" class = "photo" alt = "instagram" >
    <h1 class = "title "> instagram clout compare </h1>
    <button class = "btn btn-5" onclick="window.location.href='{{ url_for( 'move_forward') }}';"> <a style="color: #71797E; text-decoration:none;" > celebrity mode</a>
    </button>
    <button class = "btn btn-5"> <a href="about.html" style="color: #71797E; text-decoration:none;" > family & friends mode </button>
    <button class = "btn btn-5"> <a href="end.html" style="color: #71797E; text-decoration:none;" > popular brands mode </button>
    <button class = "btn btn-5"> <a href="about.html" style="color: #71797E; text-decoration:none;"> about the creators </a> </button>
  
  




  </body>
</html>